<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link {{accueil}}" routerLink="/Accueil">
        <i class="bi bi-grid"></i>
        <span>Accueil</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link {{transaction}}" routerLink="/Transaction">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Transaction</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link {{ListTransaction}}" routerLink="/ListTransaction">
        <i class="bi bi-card-list"></i>
        <span> Liste-Transaction </span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link {{CreationClient}}" routerLink="/CreationClient">
        <i class="bi bi-person-plus"></i>
        <span>Creation Compte Client</span>
      </a>
    </li><!-- End Blank Page Nav -->

  </ul>

</aside><!-- End Sidebar-->
