 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">Yonel</span>
    </a>
    <i class="bi toggle-sidebar-btn"> Bienvenue "{{prenom}}" dans votre interface </i>
  </div><!-- End Logo -->


  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">



      <li class="nav-item dropdown pe-3">

        <button type="button" (click)="deconnexion()" class="btn btn-primary">Déconnexion</button>

      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
