<div class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="index.html" class="logo d-flex align-items-center w-auto">
              <img src="assets/img/logo.png" alt="">
              <span class="d-none d-lg-block">Yonel</span>
            </a>
          </div><!-- End Logo -->

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
                <p class="text-center small">Entrez votre nom d'utilisateur et votre mot de passe pour vous connecter</p>
              </div>

              <form class="row g-3 needs-validation" [formGroup]='loginForm' (ngSubmit)='onSubmit()' novalidate>

                <div class="col-12">
                  <label for="yourUsername" class="form-label">Login</label>
                  <div class="input-group has-validation">
                    <input type="login" formControlName="login" class="form-control" placeholder="wizlaye7"
												autocomplete="login" [ngClass]="{
												'is-invalid': f['login'].errors && (f['login'].dirty || f['login'].touched)
												}" required />
											<div *ngIf=" f['login'].errors && (f['login'].dirty || f['login'].touched)"
												class=" input-group mb-3 invalid-feedback">
												<div *ngIf="f['login'].errors['required']"> veuillez saisir votre login
												</div>
												<div *ngIf="f['login'].errors['login']"> votre login est invalide </div>
											</div>
                  </div>
                </div>

                <div class="col-12">
                  <label for="yourPassword" class="form-label">Mot de passe</label>
                  <input type="password" id="password1" formControlName="password" class="form-control"
											placeholder="***********" autocomplete="new-password" [ngClass]="{
											  'is-invalid': f['password'].errors && (f['password'].dirty || f['password'].touched)
											}" required />
										  <div *ngIf=" f['password'].errors && (f['password'].dirty || f['password'].touched)" class="input-group mb-3 invalid-feedback">
											<div *ngIf="f['password'].errors['required']">
											  veuillez saisir votre mot de passe
											</div>
										</div>
                </div>
                <p style="color: red;">{{ message }}</p>
                <div class="col-12">
                  <button class="btn btn-primary w-100" [disabled]="!loginForm.valid" type="submit">Login</button>
                </div>

              </form>

            </div>
          </div>

          <div class="credits">
            Designed by Laye & Sidy
          </div>

        </div>
      </div>
    </div>

  </section>

</div>
